{% extends 'base.html' %}
{% block title %}天天生鲜-用户中心{% endblock %}
{% block body %}

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href={% url 'user:info' %} class={{ info }}>· 个人信息</a></li>
                <li><a href={% url 'user:order' %} class={{ order }}>· 全部订单</a></li>
                <li><a href={% url 'user:site' %} class={{ site }}>· 收货地址</a></li>
            </ul>
        </div>
        {% block userright %}
        {% endblock %}
    </div>
{% endblock %}

